-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: ai_opportunity_score
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ai_opportunity_score`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ai_opportunity_score` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `ai_opportunity_score`;

--
-- Table structure for table `agent_task`
--

DROP TABLE IF EXISTS `agent_task`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_task` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `task_key` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `task_type` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `original_task_type` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model_name` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `saved_at` timestamp NULL DEFAULT NULL,
  `prompt_text` text COLLATE utf8mb4_unicode_ci,
  `input_file` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `task_message` text COLLATE utf8mb4_unicode_ci,
  `attempt_count` int DEFAULT NULL,
  `stopped_by_user` tinyint(1) DEFAULT NULL,
  `completed` tinyint(1) DEFAULT NULL,
  `task_state` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `resumable` tinyint(1) DEFAULT NULL,
  `resume_key` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `failure_reason` text COLLATE utf8mb4_unicode_ci,
  `token_input` int DEFAULT NULL,
  `token_output` int DEFAULT NULL,
  `parsed` tinyint(1) DEFAULT NULL,
  `result_payload_json` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `raw_text` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `task_key` (`task_key`),
  KEY `idx_agent_task_saved_at` (`saved_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_task`
--

LOCK TABLES `agent_task` WRITE;
/*!40000 ALTER TABLE `agent_task` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_task` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_task_result`
--

DROP TABLE IF EXISTS `agent_task_result`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_task_result` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `agent_task_id` bigint NOT NULL,
  `lead_id` bigint DEFAULT NULL,
  `result_type` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `source_bucket` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rank_order` int DEFAULT NULL,
  `title` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `payload_json` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_task_result_task` (`agent_task_id`),
  KEY `fk_task_result_lead` (`lead_id`),
  CONSTRAINT `fk_task_result_lead` FOREIGN KEY (`lead_id`) REFERENCES `lead_info` (`id`),
  CONSTRAINT `fk_task_result_task` FOREIGN KEY (`agent_task_id`) REFERENCES `agent_task` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_task_result`
--

LOCK TABLES `agent_task_result` WRITE;
/*!40000 ALTER TABLE `agent_task_result` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_task_result` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `script` varchar(1000) COLLATE utf8mb4_unicode_ci NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
INSERT INTO `flyway_schema_history` VALUES (1,'1','init schema','SQL','V1__init_schema.sql',1342741335,'root','2026-04-11 06:40:20',203,1);
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_deep_analysis`
--

DROP TABLE IF EXISTS `lead_deep_analysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_deep_analysis` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lead_id` bigint NOT NULL,
  `source_continuity` longtext COLLATE utf8mb4_unicode_ci,
  `similar_case_summary` longtext COLLATE utf8mb4_unicode_ci,
  `landing_case_summary` longtext COLLATE utf8mb4_unicode_ci,
  `policy_support_summary` longtext COLLATE utf8mb4_unicode_ci,
  `budget_support_summary` longtext COLLATE utf8mb4_unicode_ci,
  `competition_and_delivery_judgement` longtext COLLATE utf8mb4_unicode_ci,
  `deep_analysis_conclusion` longtext COLLATE utf8mb4_unicode_ci,
  `deep_analysis_score` double DEFAULT NULL,
  `evidence_strength_score` double DEFAULT NULL,
  `suggested_action` text COLLATE utf8mb4_unicode_ci,
  `ai_value_summary` longtext COLLATE utf8mb4_unicode_ci,
  `ai_risks_json` longtext COLLATE utf8mb4_unicode_ci,
  `timeline_json` longtext COLLATE utf8mb4_unicode_ci,
  `related_links_json` longtext COLLATE utf8mb4_unicode_ci,
  `source_links_by_type_json` longtext COLLATE utf8mb4_unicode_ci,
  `screening_snapshot_json` longtext COLLATE utf8mb4_unicode_ci,
  `final_recommendation` longtext COLLATE utf8mb4_unicode_ci,
  `analysis_time` timestamp NULL DEFAULT NULL,
  `last_task_key` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_payload_json` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `lead_id` (`lead_id`),
  CONSTRAINT `fk_lead_analysis_lead` FOREIGN KEY (`lead_id`) REFERENCES `lead_info` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_deep_analysis`
--

LOCK TABLES `lead_deep_analysis` WRITE;
/*!40000 ALTER TABLE `lead_deep_analysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_deep_analysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_info`
--

DROP TABLE IF EXISTS `lead_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_info` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `external_lead_id` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dedupe_key` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(512) COLLATE utf8mb4_unicode_ci NOT NULL,
  `normalized_title` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_domain` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_bucket` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `organization_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lead_category` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `current_stage` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_actionable_now` tinyint(1) DEFAULT NULL,
  `should_enter_pool` tinyint(1) DEFAULT NULL,
  `pool_entry_tier` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `opportunity_signal_class` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category_reason` text COLLATE utf8mb4_unicode_ci,
  `description` longtext COLLATE utf8mb4_unicode_ci,
  `publish_time` timestamp NULL DEFAULT NULL,
  `publish_time_raw` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publish_time_confidence` double DEFAULT NULL,
  `within_time_window` tinyint(1) DEFAULT NULL,
  `time_window_status` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `scenario_tags_json` longtext COLLATE utf8mb4_unicode_ci,
  `evidence_summary_json` longtext COLLATE utf8mb4_unicode_ci,
  `recommended_technologies_json` longtext COLLATE utf8mb4_unicode_ci,
  `related_links_json` longtext COLLATE utf8mb4_unicode_ci,
  `latest_follow_up_action` text COLLATE utf8mb4_unicode_ci,
  `latest_suggested_action` text COLLATE utf8mb4_unicode_ci,
  `status` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expiry_status` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latest_screening_task_key` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latest_investigation_task_key` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `dedupe_key` (`dedupe_key`),
  KEY `idx_lead_info_category` (`lead_category`),
  KEY `idx_lead_info_status` (`status`),
  KEY `idx_lead_info_pool_entry_tier` (`pool_entry_tier`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_info`
--

LOCK TABLES `lead_info` WRITE;
/*!40000 ALTER TABLE `lead_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lead_score`
--

DROP TABLE IF EXISTS `lead_score`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lead_score` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lead_id` bigint NOT NULL,
  `scenario_fit_score` double DEFAULT NULL,
  `ai_fit_score` double DEFAULT NULL,
  `opportunity_maturity_score` double DEFAULT NULL,
  `screening_score` double DEFAULT NULL,
  `total_score` double DEFAULT NULL,
  `deep_analysis_score` double DEFAULT NULL,
  `evidence_strength_score` double DEFAULT NULL,
  `raw_composite_score` double DEFAULT NULL,
  `composite_score` double DEFAULT NULL,
  `score_reason` text COLLATE utf8mb4_unicode_ci,
  `suggested_action` text COLLATE utf8mb4_unicode_ci,
  `score_time` timestamp NULL DEFAULT NULL,
  `last_task_key` varchar(128) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `score_payload_json` longtext COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `lead_id` (`lead_id`),
  CONSTRAINT `fk_lead_score_lead` FOREIGN KEY (`lead_id`) REFERENCES `lead_info` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lead_score`
--

LOCK TABLES `lead_score` WRITE;
/*!40000 ALTER TABLE `lead_score` DISABLE KEYS */;
/*!40000 ALTER TABLE `lead_score` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'ai_opportunity_score'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-12 13:53:14
